body {
  padding: 50px;
}

input {
  display: block;
  margin-top: 10px;
}

button {
  cursor: pointer;
  padding: 8px;
  margin-top: 10px;
  background: #888;
  border: none;
  outline: none;
  color: white;
}

button:hover {
  background-color: #999;
}

button:active {
  background-color: #777;
}